html{
    margin:0px;
    color:white;
    font-family: 'Roboto', sans-serif;
}
.background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    animation: bgcolor 10s infinite alternate;
    background: linear-gradient(45deg,#e664ac, #e66465, 
    #ffaf6d, #ffdd6d);
    background-size: 400%;
}

@keyframes bgcolor {
    0%{
        background-position: left;
    }
    100%{   
        background-position: right;
    }
}

.header-text{
    font-size: 4rem;
    font-weight:bold;
}

label {
    border: 2px solid;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    display:block;
    text-align:center;
    transition: transform .2s;
  }

label:hover{
    transform: scale(1.2);
}